<head>
    <title>JAWS</title>

    <link rel="stylesheet" href="/static/skeleton.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">

        #main-content h3 {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;}

        #main-content h4 {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;}

        #main-content h5 {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;}

        #main-content p {
        margin: 0px 0px 0px 0px; 
        padding: 0px 0px 0px 0px;}
    </style>
</head>
<body>
    <div class="u-text-center">
    <h3>J.A.W.S. Intrusion Detection System</h3>
    <h4>Jamming Attack Workaround Study Senior Design Project</h4>
    <em>by Soren Madsen and Jack Schoen</em>
    </div>
    <h5></h5>
<!--
    <form action="/cycle/" method="post">
        <button name="stat_cycle" type="submit">Cycle Status</button>
    </form>
    -->
</body>